.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdf7df;
  border: 1px solid #feec6f;
  border-radius: 16px;
  color: #c9971c;
  padding: 3em;
  width: 90vw;
  max-width: 640px;
  margin: 0 auto;
  font-family: var(--fonts);
}
