.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerAnimation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: dissapear ease-out 1.5s forwards;
}

.header {
  position: fixed;
  z-index: 11;
  color: #fff;
}

.headerAnimation {
  position: fixed;
  z-index: 11;
  color: #fff;
  animation: dissapear ease-out 1.5s forwards;
}

@keyframes dissapear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

/* @media (prefers-color-scheme: dark) {
  .container,
  .containerAnimation {
    background-color: var(--background-color);
  }
  .header,
  .headerAnimation {
    color: var(--main-color);
  }
} */
