@font-face {
  font-family: "Ringbearer";
  src: url("/fonts/RINGM___.TTF") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

body {
  min-height: 100vh;
  font-family: "Ringbearer", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
}

h1 {
  color: #f9c23c;
  font-weight: 700;
  font-size: 2.5em;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
