@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ringbearer";
  src: url("/fonts/Ringbearer.ttf") format("truetype");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
