@font-face {
  font-family: "Ringbearer";
  src: url("/fonts/RINGM___.TTF") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

body {
  min-height: 100vh;
  font-family: "Ringbearer", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
}

h1,
h2 {
  color: #f9c23c;
  font-weight: 700;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  padding-top: 3em;
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.description {
  margin-top: 3em;
  font-size: 1.2em;
  color: #888;
  width: fit-content;
  margin: 0 auto;
}

.container {
  width: 90vw;
  max-width: 640px;
  margin: 3em auto 0 auto;
}
