.container {
  padding-top: 3em;
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.description {
  margin-top: 1em;
  font-size: 1.2em;
  color: #777;
}
