.list {
  margin: 2em auto 0 auto;
  display: flex;
  width: 90vw;
  max-width: 640px;
  flex-wrap: wrap;
  gap: 3.5em;
}

.scrollIcon {
  position: absolute;
  top: -1.65em;
  left: calc(50% - 12px);
}

.card {
  border-top: 2px var(--main-color) solid;
  border-radius: 16px;
  padding: 1em 2em 1.5em 2em;
  /* transition: all ease-in-out 0.3s; */
  width: 100%;
  position: relative;
  background-color: #fffaf2;
}

.heading {
  color: var(--main-color);
  position: relative;
}

.senderName {
  font-family: var(--fonts);
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey);
  font-style: italic;
}

.date {
  font-family: var(--fonts);
  font-size: 0.8em;
  font-weight: 400;
  color: var(--grey);
  margin-top: 1.5em;
}

.profilePicture {
  position: absolute;
  margin-left: 0.5em;
}

.inputAvatar {
  position: absolute;
  right: 1em;
  top: 1em;
}

.content {
  margin-top: 1.5em;
  white-space: pre-wrap;
  font-family: var(--fonts);
  line-height: 1.4em;
  overflow-wrap: break-word;
}

.modal {
  position: absolute;
  background-color: var(--background-color);
  border: 1px var(--main-color) solid;
  border-radius: 16px;
  padding: 1em 2em 1.5em 2em;
  transition: all ease-in-out 0.3s;
  width: 100%;
}

.button {
  background-color: var(--main-color);
  color: #fff;
  width: 100%;
  max-width: 20em;
  border-radius: 16px;
  height: 30px;
  padding-top: 1.5em;
  padding-bottom: 2.8em;
  font-family: var(--fonts);
  font-size: 0.8em;
  font-weight: 900;
  outline: none;
  margin: 0 auto;
}

.button:focus {
  outline: 2px solid var(--main-color);
}

.activeButton {
  background-color: #fff;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.returnButton {
  outline: none;
  border: none;
  position: relative;
  font-size: 1em;
  color: #aaa;
  width: fit-content;
  margin: 3em auto 0 auto;
  background: none;
  font-family: "Ringbearer";
}

.formCreateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0 auto 3em auto;
  width: 90vw;
  max-width: 640px;
}

.formEditContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
  width: 90vw;
  max-width: 640px;
  padding-bottom: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 640px;
  width: 100%;
  padding-top: 1em;
}

.input,
.textArea {
  border: none;
  border-top: 2px var(--main-color) solid;
  background-color: #fffaf2;
}

.input {
  border-radius: 16px;
  font-family: var(--fonts);
  font-size: 1em;
  outline: none;
  padding: 1em;
  margin-top: 1em;
}

.textArea {
  border-radius: 16px;
  font-family: var(--fonts);
  font-size: 1em;
  outline: none;
  padding: 1em;
  resize: none;
  min-height: 162px;
  margin-bottom: 1em;
}

.input:focus,
.textArea:focus {
  background-color: #fff9eb;
}

.actionsContainer {
  display: grid;
  gap: 1em;
  margin-top: 3em;
  width: 90vw;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.invisible {
  display: none;
}

.reverseButton {
  margin-top: 1em;
}
/* @media (prefers-color-scheme: dark) {
  .senderName {
    color: #ccc;
  }
  .card {
    background-color: var(--background-color);
    color: var(--font-color);
  }
} */
